<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <php>
      <var name="client_id" value="" />
      <var name="client_secret" value="" />
      <var name="redirect_url" value="http://example.com" />
    </php>
    <testsuites>
        <testsuite name="jyokum/healthgraph">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./docs</directory>
                <directory>./coverage</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
